
body {
    background-image: url("headphones_hero_1.jpg");
    background-size: cover;
    color: white;
    font-family: 'poppins', serif;
}

nav  {
   
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    color: white;
    font-weight: bold;

}

.pink {
    margin-right: 50px;
}

.logo {
    margin-left: 150px;
}


.handburger {
    width: 30px;
    height: 30px;
    display: none;
}

