body {

  background-image: url("Object.png");
  background-repeat: no-repeat;
}

nav img {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
}



.membership div {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.membership h3 {
  color: white;
}

.popular {
  display: flex;
  flex-direction: row;
}